@model List<Post>;

@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Message"]</h2>

<p>@ViewData["DbConnectionTest"]</p>

<div class="text-center">
    <h1 class="display-4">Followed posts</h1>
</div>



<style>

    body {
        margin-top: 20px;
        background: #eee;
        color: #708090;
    }

    .icon-1x {
        font-size: 24px !important;
    }

    a {
        text-decoration: none;
    }

        .text-primary, a.text-primary:focus, a.text-primary:hover {
            color: #00ADBB !important;
        }

    .text-black, .text-hover-black:hover {
        color: #000 !important;
    }

    .font-weight-bold {
        font-weight: 700 !important;
    }

</style>

<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">


@foreach (var post in Model)
{

    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
        <div class="row align-items-center">
            <div class="col-md-8 mb-3 mb-sm-0">
                <img alt="Avatar" class="rounded-circle mt-5" width="35px" src="@post?.CreatorUser.CheminAvatar" />
                <h5>
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.PostID" class="text-primary">@post.Title</a>
                </h5>
                <p class="text-sm">
                    <span class="op-6">Posted on @post.DateCreationMessage.ToString()</span>





                    <span class="op-6">by</span>
                    <a class="text-black" href="#">@post.CreatorUser.UserName</a>
                </p>


                <p class="text-sm" style="font-size: 12px">
                    <span class="op-6">Updated</span>

                    @{
                        var timeDifferenceLastMessage = (DateTime.Now - (post.DateCreationLastMessage ?? DateTime.Now));
                        var minutesAgoLastNessage = timeDifferenceLastMessage.TotalMinutes;
                    }
                    <a class="text-black" href="#"> @(minutesAgoLastNessage.ToString("F0")) minutes ago </a>



                    <span class="op-6">by</span>
                    <a class="text-black" href="#">@post.CreatorUser.UserName</a>
                </p>
                <div class="text-sm op-5">


                    <a class="text-black mr-2" href="#">@post.Message</a>

                </div>
                <div class="text-sm op-5">


                    <a class="text-black mr-2" href="#">#@post.MotCle</a>

                </div>
            </div>


            <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                    @if (post.isInFavorite)
                    {
                        <a asp-controller="Post" asp-action="ToggleFavoriteStatus" asp-route-postId="@post.PostID">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                            </svg>
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Post" asp-action="ToggleFavoriteStatus" asp-route-postId="@post.PostID">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                            </svg>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
}


