@model IEnumerable<forum.Models.Forum>

@{
    ViewData["Title"] = "Index";
}

<h1>Forums List</h1>
@if (User.IsInRole("admin"))
{


    <p>
        <a asp-action="Create">Create New Forum</a>
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreation)
        </th>
        <th>
            Themes
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                
                    <a asp-action="Posts" asp-route-id="@item.ForumID">     @Html.DisplayFor(modelItem => item.Titre) </a>
           
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreation)
            </td>
            <td>
                @if (item.Themes != null)
                {
                    foreach (var theme in item.Themes)
                    {
                        <span>@theme.Titre</span>
                        @if (theme != item.Themes.Last())
                        {
                            <span>, </span>
                        }
                    }
                }
            </td>
            <td>
                @if (User.IsInRole("admin"))    
                {

                    <a asp-action="Edit" asp-route-id="@item.ForumID">Edit |</a>


                }
                <a asp-action="Details" asp-route-id="@item.ForumID">Details </a>
                
                @if (User.IsInRole("admin"))
                {

                        <a asp-action="Delete" asp-route-id="@item.ForumID">| Delete</a>


                }
            </td>
        </tr>
    }
    </tbody>
</table>