@model List<Post>;

@{
    ViewData["Title"] = "Home Page";
}
@using forum.Data
<h2>@ViewData["Message"]</h2>

<p>@ViewData["DbConnectionTest"]</p>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@{
    DatabaseConnector dbConnector = new DatabaseConnector();
    bool isConnected = dbConnector.TestConnection();
}

@if (isConnected)
{
    <p style="color: green;">Database connection successful!</p>
}
else
{
    <p style="color: red;">Failed to connect to the database.</p>
}


@if (User.IsInRole("user"))
{
    <div class="navbar-nav">
        <h1> YOU ARE A USER </h1>
    </div>
}


@if (User.IsInRole("admin"))
{
    <div class="navbar-nav">
        <h1>YOU ARE AN ADMIN</h1>
    </div>
}






<style>
    
    body {
        margin-top: 20px;
        background: #eee;
        color: #708090;
    }

    .icon-1x {
        font-size: 24px !important;
    }

    a {
        text-decoration: none;
    }

        .text-primary, a.text-primary:focus, a.text-primary:hover {
            color: #00ADBB !important;
        }

    .text-black, .text-hover-black:hover {
        color: #000 !important;
    }

    .font-weight-bold {
        font-weight: 700 !important;
    }

</style>

<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">


@foreach (var post in Model)
{
    <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
        <div class="row align-items-center">
            <div class="col-md-8 mb-3 mb-sm-0">
                <h5>
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.PostID" class="text-primary">@post.Title</a>
                </h5>
                <p class="text-sm">
                    <span class="op-6">Posted on @post.DateCreationMessage.ToString()</span>





                    <span class="op-6">by</span>
                    <a class="text-black" href="#">@post.CreatorUser.UserName</a>
                </p>


                <p class="text-sm" style="font-size: 12px">
                    <span class="op-6">Updated</span>

                    @{
                        var timeDifferenceLastMessage = (DateTime.Now - (post.DateCreationLastMessage ?? DateTime.Now));
                        var minutesAgoLastNessage = timeDifferenceLastMessage.TotalMinutes;
                    }
                    <a class="text-black" href="#">  @(minutesAgoLastNessage.ToString("F0")) minutes ago </a>



                    <span class="op-6">by</span>
                    <a class="text-black" href="#">@post.CreatorUser.UserName</a>
                </p>
                <div class="text-sm op-5">


                    <a class="text-black mr-2" href="#">@post.Message</a>

                </div>
                <div class="text-sm op-5">


                    <a class="text-black mr-2" href="#">#@post.MotCle</a>

                </div>
            </div>
            <div class="col-md-4 op-7">
                <div class="row text-center op-7">
                    <div class="col px-1"> <i class="ion-connection-bars icon-1x"></i> <span class="d-block text-sm"> Votes</span> </div>
                    <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm"> Replies</span> </div>
                    <div class="col px-1"> <i class="ion-ios-eye-outline icon-1x"></i> <span class="d-block text-sm"> Views</span> </div>
                </div>
            </div>
        </div>
    </div>
}


                    
                
                
